@import url("@/styles/global.css");

.auth-from__form {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  border: 2px var(--primary-color) solid;
}

.auth-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.auth-form__text-field {
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  outline-color: var(--secondary-color);
  outline-style: hidden;
  outline-width: 5px;
}

.auth-form__item {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.auth-form__button {
  align-self: center;
  margin: 1rem;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: large;
  border: 2px var(--primary-color) solid;
  cursor: pointer;
}

.auth-form__button:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.response__body {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.response__body {
  border-radius: 5px;
  padding: 5px;
  font-size: xx-large;
  color: var(--primary-color);
}

.response__body--200 {
  background-color: rgba(0, 128, 0, 0.7);
}

.response__body--500 {
  background-color: rgba(255, 0, 0, 0.8);
}

.response__body--400 {
  background-color: rgba(255, 0, 0, 0.8);
}
