@import url("../index.css");

.single-blog-post {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 3rem;
  border-bottom: 2px solid var(--amaranth);
}

.blog-posts-header {
  text-align: center;
  margin: 1rem 0 0 0;
}

.blog-post-title {
  font-weight: bolder;
  font-size: xx-large;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: medium solid var(--amaranth);
}

.blog-post-body {
  padding: 0.5rem 0;
}

.blog-posts {
  margin: 0 1rem;
  width: 100%;
}

.blog-posts-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
  align-items: center;
  justify-content: center;
}
