@import url("../index.css");

.single-blog-post-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 3rem;
  border-bottom: 2px solid var(--primary-color);
  padding: 0.5rem;
}

.single-blog-post {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 0.5rem;
}

.blog-posts-header {
  text-align: center;
  margin: 1rem 0 0 0;
}

.blog-post-title {
  font-weight: bolder;
  font-size: xx-large;
}

.blog-post-footer {
  color: var(--primary-color);
  opacity: 0.5;
  font-size: xx-small;
}

.blog-post-body {
  padding: 0.5rem 0;
}

.blog-posts {
  margin: 0 1rem;
  width: 100%;
}

.blog-posts-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
  align-items: center;
  justify-content: center;
}
