.top-bar {
  display: flex;
  flex-direction: row;
  background: var(--hunyadi-yellow);
  color: var(--gunmetal);
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 100px;
  border: 2px var(--primary-color) solid;
}

.navbar-brand {
  all: unset;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 200ms linear;
}

.navbar-brand:hover {
  color: var(--amaranth);
}

.nav-item {
  all: unset;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  border: 0.15rem transparent solid;
  cursor: pointer;
  transition: all 100ms linear;
}

.nav-item-title {
  margin: 3px;
  font-size: 1rem;
}

.nav-item-icon svg {
  height: 2rem;
  width: 2rem;
  margin: 3px;
  vertical-align: middle;
}

.nav-item:hover,
.form-button:hover,
#not-found-home-button:hover {
  border: 0.15rem var(--gunmetal) solid;
  transform: scale(110%);
}

.login-signup-buttons .nav-item {
  margin: 0 1rem;
}

.login-signup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.switch {
  width: 4rem;
  height: 2rem;
}

.slider {
  all: unset;
  display: flex;
  border-radius: 10rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  transition: all 200ms linear;
}

.theme-switcher-icon svg {
  width: 100%;
}

.theme-switcher-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  color: var(--secondary-color);
  transition: all 150ms linear;
  background-color: var(--primary-color);
}

.theme-switcher-icon.dark-theme {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
