.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--gunmetal);
  background: var(--hunyadi-yellow);
  border: 0.2rem solid var(--primary-color);
  border-radius: 10rem;
  padding: 0.5rem 0.3rem;
  overflow: auto;
}

.navigation-bar__right,
.navigation-bar__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.navigation-bar__right {
  margin-right: 1rem;
  justify-content: end;
}

.navigation-bar__theme-switch {
  width: 4rem;
  height: 2rem;
  margin-right: 1rem;
}

.theme-switch__slider {
  all: unset;
  display: flex;
  border-radius: 10rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  transition: all 200ms linear;
}

.theme-switch__icon svg {
  width: 100%;
}

.theme-switch__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  color: var(--secondary-color);
  transition: all 150ms linear;
  background-color: var(--primary-color);
}

.theme-switch__icon--dark {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.navigation-bar__item {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 100ms linear;
}

.navigation-bar__title {
  font-size: small;
  text-align: center;
}

.navigation-bar__icon {
  font-size: xx-large;
}

.navigation-bar__image {
  max-width: 3rem;
  aspect-ratio: 1/1;
  clip-path: circle();
}

.navigation-bar__item:hover {
  background-color: var(--gunmetal);
  color: var(--hunyadi-yellow);
}
