.top-bar {
  display: flex;
  flex-direction: row;
  background: var(--hunyadi-yellow);
  color: var(--gunmetal);
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 10rem;
  border: 0.2rem solid var(--primary-color);
}

.top-bar-right,
.top-bar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.top-bar-right {
  justify-content: end;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: right;
  padding: 0 0.5rem;
  border-radius: 1rem 1rem 0 0;
  color: var(--gunmetal);
  background-color: var(--hunyadi-yellow);
  transition: opa 500ms linear;
  visibility: visible;
}

.dropdown-icon {
  font-size: 2rem;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  visibility: visible;
}

.dropdown:hover {
  background-color: var(--gunmetal);
  color: var(--hunyadi-yellow);
}

.dropdown-content {
  display: none;
  visibility: hidden;
  min-width: max-content;
  position: absolute;
  right: 0;
  padding: 0.5rem 0;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  color: var(--hunyadi-yellow);
  background-color: var(--gunmetal);
  z-index: 100;
}

.dropdown-item {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  padding: 0 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background: none;
  cursor: pointer;
  transition: all 100ms linear;
}

.dropdown-item:hover {
  color: var(--gunmetal);
  background-color: var(--hunyadi-yellow);
}

.navbar-brand {
  all: unset;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 200ms linear;
}

.navbar-brand:hover {
  color: var(--amaranth);
}

.nav-item {
  all: unset;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  padding: 0 1rem;
  margin: 0 1rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 100ms linear;
}

.nav-item-title {
  font-size: 100;
}

.nav-item-icon {
  font-size: 2rem;
  padding: 0 0.5rem 0 0;
}

.nav-item:hover {
  background-color: var(--gunmetal);
  color: var(--hunyadi-yellow);
}

.hidden {
  display: none;
}

.switch {
  width: 4rem;
  height: 2rem;
}

.slider {
  all: unset;
  display: flex;
  border-radius: 10rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  transition: all 200ms linear;
}

.theme-switcher-icon svg {
  width: 100%;
}

.theme-switcher-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  color: var(--secondary-color);
  transition: all 150ms linear;
  background-color: var(--primary-color);
}

.theme-switcher-icon.dark-theme {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
