.pagination {
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  border: 3px solid;
  border-radius: 5px;
  border-color: var(--text-color);
  background-color: var(--background-color);
}

.pagination-button {
  align-self: center;
  margin: 1rem;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: large;
  border: 2px var(--text-color) solid;
  cursor: pointer;
}

.pagination-button:hover {
  color: var(--text-color);
}

.page-number {
  font-size: large;
  color: var(--text-color);
}
