.profile {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile__grid {
  font-size: larger;
  background-color: none;
  color: var(--primary-color);
  border: 0.2rem solid var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 1rem;
  min-width: max-content;
  max-width: max-content;
  min-height: 20vh;
  overflow: hidden;
}

.profile__item {
  width: 100%;
  padding: 2rem;
  border-bottom: 0.1rem solid var(--primary-color);
}

.profile__label {
  color: var(--amaranth);
}
