@import url("./App.css");

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("./assets/fonts/MPLUSRounded1c-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  color: var(--text-color);
  font-family: "M PLUS Rounded 1c";
  letter-spacing: 1px;
}

html {
  background-color: var(--background-color);
}
